@font-face {
    font-family: 'SegoeUILight';
    src: url('../fonts/SegoeUILight.eot');
    src: url('../fonts/SegoeUILight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SegoeUILight.woff') format('woff'),
         url('../fonts/SegoeUILight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}