doctype html
html(lang="Ru-ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Greatwatermark service")
        meta(name="keywords" content="watermark, create, download, quick, easy")
        meta(name="author" content="LoftSchool Team #1")
        title
            block pageTitle
        // Bower CSS
        link(rel="stylesheet" href="bower/normalize-css/normalize.css")
        // Dev CSS
        link(rel="stylesheet" href="css/main.css")
        // Fonts & favicon
        link(rel="icon" type="image/png" href="img/favicon.png")
        // build:js js/modernizr.min.js
        script(type="text/javascript" src="bower/modernizr/modernizr.js")
        // endbuild

    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong>браузер.Пожалуйста,
        <a href="http://browsehappy.com">обновите</a> его.</p>
        <![endif]-->
        .wrap
            .wrap__inner

                .wrap__inner__left
                    h1.title__name
                        | Генератор водяных знаков
                    .canvas__block#canvas
                        img(src="/img/1.jpg").canvas__img

                .wrap__inner__right
                    .control__block
                        .control__title
                            | Настройки
                        .control__input-img
                            .control__form__parent-img
                                form.parent-img(action="")
                                    label
                                        .form__parent__title Исходное изображение
                                        input(type="text" class="form__parent__input_text" placeholder="загрузите изображение")
                                        input(type="file" class="form__parent__input_file")
                                      button.form__parent__input_button
                                        img(src="img/download.png")
                            .control__form__child-img
                                form.parent-img(action="")
                                    label
                                        .form__child__title Водяной знак
                                        input(type="text" class="form__child__input_text" placeholder="загрузите изображение")
                                        input(type="file" class="form__child__input_file")
                                      button.form__child__input_button
                                        img(src="img/download.png")

                        .control__position-img.clearfix
                            .control__position__title Положение
                            .control__position__grid.clearfix
                                - var items = ['1','2','3','4','5','6','7','8','9']
                                each item in items
                                    div(class="position__grid_item" + ((item == '1') ? ' active' : '' ) id=+item)
                                        //a(href="" + item)=item
                            .control__position__controls
                                ul.position__control_ul
                                    li.position__control_li
                                        .position__text-x X
                                        .position__control_x
                                            .position__control_x_text
                                              input(type="text" id="value__x_point" value="100")
                                        .position__control__x_point
                                            .position__control__x_point-top
                                            .position__control__x_point-bottom
                                    li.position__control_li
                                        .position__text-y Y
                                        .position__control_y
                                            .position__control_y_text
                                              input(type="text" id="value__y_point" value="100")
                                        .position__control__y_point
                                            .position__control__y_point-top
                                            .position__control__y_point-bottom

                        .control__opacity.clearfix
                            .opacity__controller
                                .opacity__title Прозрачность
                                input(type="text" id="sliderAmount" readonly style="")
                                #slider-opacity

                        .control__button.clearfix
                            .control__button_reset
                                button(id="reset").button_reset Сброс
                            .control__button_download
                                button.button_download Скачать
            footer.footer
                | © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его

            .extra-block


        script(type="text/javascript" src="bower/jquery/jquery.min.js")
        script(type="text/javascript" src="bower/jquery-ui/jquery-ui.js")
        script(type="text/javascript" src="js/main.js")
        script(type="text/javascript" src="js/place.js")
