doctype html
html(lang="Ru-ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Greatwatermark service")
        meta(name="keywords" content="watermark, create, download, quick, easy")
        meta(name="author" content="LoftSchool Team #1")
        title
            block pageTitle
        // Vendor
        link(rel="stylesheet" href="bower/qtip2/jquery.qtip.css")
        // Bower CSS
        link(rel="stylesheet" href="bower/normalize-css/normalize.css")
        // Dev CSS
        link(rel="stylesheet" href="css/main.css")
        // Fonts & favicon
        link(rel="icon" type="image/png" href="img/favicon.png")
        // build:js js/modernizr.min.js
        script(type="text/javascript" src="bower/modernizr/modernizr.js")
        // endbuild
        // Подключаем стили CSS для библиотеки Jquery UI
        link(href='bower/jquery-ui/themes/base/jquery-ui.css', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='http://vk.com/js/api/share.js?93', charset='UTF-8')
    
    body
      
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong>браузер.Пожалуйста,
        <a href="http://browsehappy.com">обновите</a> его.</p>
        <![endif]-->
        .wrap

            //- ---------------------------------------------------- -//
            aside.socials__box
                ul.language__list
                    - var languages = ["РУС", "ENG"]
                    each language in languages
                        li.language__item
                            a(href="#" id=((language == "РУС") ? "rus" : "eng") class="language__link" + ((language == "РУС") ? " active" : ""))= language
                .sharing__box
                    a(href="#" class="sharing__link_like like__link")
                        .like__icon
                    ul.sharing__list
                    - var socials = ['fb', 'tw', 'vk']
                    each social in socials
                        li(class="sharing__item")
                            a(href="#" class="sharing__link sharing__link_" + social)
            //- ---------------------------------------------------- -//

            .wrap__inner.clearfix

                .wrap__inner__left
                    h1.title__name(lng="Watermarks_generator")
                        | Генератор водяных знаков
                    .canvas__block#canvas
                        

                .wrap__inner__right
                    .control__block
                        .control__title(lng="Settings")
                            | Настройки
                        .control__input-img
                            .control__form__parent-img
                                form.parent-img#parent-img(action="")

                                    .fileupload-wrapper#uploadfile
                                        p.new-project-form-upload-name(lng="Original_image") Исходное изображение
                                        label.fileupload-label
                                            input(id="main_img" class="fileupload" type="file" name="files[]")
                                            input(id="main_img_url" type="hidden" name="fileurl")
                                          input(id="main_img_name" type="text" class="fileupload-input" name="filename" placeholder="Загрузите изображение" disabled lng="Placeholder")

                                    .fileupload-wrapper#uploadWaterMark
                                        p.new-project-form-upload-name(lng="Watermark") Водяной знак
                                        label.fileupload-label
                                            input(id="water_img" class="fileupload" type="file" name="files[]")
                                            input(id="water_img_url" type="hidden" name="fileurl")
                                          input(id="water_img_name" type="text" class="fileupload-input" name="filename" placeholder="Загрузите изображение" disabled lng="Placeholder")

                        .control__position-img.clearfix
                            .control__position__title(lng="Place") Положение
                            .control__position__grid.clearfix
                                - var items = ['1','2','3','4','5','6','7','8','9']
                                each item in items
                                    div(class="position__grid_item" + ((item == '1') ? ' active' : '' ) id=+item)
                                        //a(href="" + item)=item
                            .control__position__controls
                                ul.position__control_ul
                                    li.position__control_li
                                        .position__text-x X
                                        .position__control_x
                                            .position__control_x_text 
                                              input(type="text" id="value__x_point" value="0")
                                        .position__control__x_point
                                            .position__control__x_point-top
                                            .position__control__x_point-bottom
                                    li.position__control_li
                                        .position__text-y Y
                                        .position__control_y
                                            .position__control_y_text
                                              input(type="text" id="value__y_point" value="0")
                                        .position__control__y_point
                                            .position__control__y_point-top
                                            .position__control__y_point-bottom

                        .control__opacity.clearfix
                            .opacity__controller
                                .opacity__title(lng="Transparency") Прозрачность
                                input(type="text" id="sliderAmount" readonly style="")
                                #slider-opacity
                                
                        .control__button.clearfix
                            .control__button_reset
                                button(id="reset").button_reset(lng="Reset") Сброс
                            .control__button_download
                                button.button_download(lng="Download") Скачать
            footer.footer
                | © 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его
            
            #fb-root
            
            .extra-block
              .extra-block__item.sprite.sprite-social-like
              .extra-block__item__social
                a(href='https://twitter.com/intent/tweet?button_hashtag=TwitterStories').extra-block__item__social_tw.sprite.sprite-social-tw
                a.fb-share-button(data-href='https://developers.facebook.com/docs/plugins/', data-layout='icon_link').extra-block__item__social_fb.sprite.sprite-social-fb
                a(href="http://vk.com/share.php?url=http%3A%2F%2Flocalhost%3A3000%2F" onmouseup="this._btn=event.button;this.blur();" onclick="return VK.Share.click(0, this);" ).extra-block__item__social_vk.sprite.sprite-social-vk

        
        script(type="text/javascript" src="bower/jquery/jquery.min.js")
        script(type="text/javascript" src="bower/qtip2/jquery.qtip.js")
        script(type="text/javascript" src="bower/jquery-ui/jquery-ui.min.js")
        script(type="text/javascript" src="bower/blueimp-file-upload/js/jquery.fileupload.js")
        script(type="text/javascript" src="js/place.js")
        script(type="text/javascript" src="js/opacity.js")
        script(type="text/javascript" src="js/upload.js")
        script(type="text/javascript" src="js/socials.js")
        script(type="text/javascript" src="js/main.js")
        script(type="text/javascript" src="js/language.js")
        script(type="text/javascript" src="js/imgValid.js")
        script(type="text/javascript" src="js/download.js")
