doctype html
html(lang="Ru-ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Greatwatermark service")
        meta(name="keywords" content="watermark, create, download, quick, easy")
        meta(name="author" content="LoftSchool Team #1")
        title
            block pageTitle
        // Bower CSS
        link(rel="stylesheet" href="bower/normalize-css/normalize.css")
        // Dev CSS
        link(rel="stylesheet" href="css/main.css")
        // Fonts & favicon
        link(rel="icon" type="image/png" href="img/favicon.png")
        // build:js js/modernizr.min.js
        script(type="text/javascript" src="bower/modernizr/modernizr.js")
        // endbuild

    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong>браузер.Пожалуйста,
        <a href="http://browsehappy.com">обновите</a> его.</p>
        <![endif]-->
        .wrapper


        script(type="text/javascript" src="bower/jquery/jquery.min.js")
        script(type="text/javascript" src="js/main.js")